GITLAB_PRIVATE_TOKEN=your-gitlab-private-token
GITLAB_PROJECT_ID=your-gitlab-project-id
GITLAB_URL=https://gitlab.com/
JIRA_BASE_URL=https://your-jira-base-url/browse/
TARGET_BRANCH=test
VERSION_PATTERN='\[TCPRJ-UPDATE-VERSION\]-to VN-(\d+)'
VERSION_NUMBER_GROUP=1
TICKET_PATTERN=\[([A-Z]+-\d+)\](.+)
OUTPUT_DIR='./output'